<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<wicket:head>
	<meta charset="utf-8">
	<link href="css/bootstrap.css" rel="stylesheet" media="screen">
</wicket:head>
<body style="background-color: white">
	<wicket:extend>
	<div class="container" style="background-color: white">
	
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Modelo</th>
				<th>Largura</th>
				<th>Tipo Enfesto</th>
				<th>Data Saida</th>
				<th>Data Retorno</th>
				<th>Status</th>
        		<th>Ações</th>
         	</tr>
    	</thead>
		<!-- <h3 wicket:id="dev"></h3> -->
		<tbody>
			<tr>
				<!-- <td wicket:id="modelo"/>
				<td wicket:id="largura"/>
				<td wicket:id="tipoEnfesto"/>
				<td wicket:id="dataSaida"/>
				<td wicket:id="dataRetorno"/>
				<td wicket:id="status"/> -->
				<td class="text-center">
					<a class="btn btn-default" rel="tooltip" title="Editar">
                		<i class="fas fa-pencil-alt"></i>
                	</a>
                	<a class="btn btn-default modal-confirm" title="Excluir">
                 		 <i class="fa fa-trash"></i>
               		 </a>
				</td>
			</tr>
		</tbody>
	</table><br />
</div>
	</wicket:extend>
</body>
</html>